* {
    box-sizing: border-box;
}

body {
    caret-color: black;
    font-family: 'Roboto', sans-serif;
}

p {
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

input {
    text-align: center;
}

.appStore {
    margin: 0px 0px 50px 0px;
    flex-direction: column;
    text-align: center;
}

.appStoreIcons {
    width: 150px;
    height: 50px;
}

.category {
    background-color: #2F3C5F;
    padding: 5px 10px 10px 10px;
    margin-bottom: 50px;
}

.categoryTitle {
    padding: 0px 0px 0px 30px;
    color: white;
}

.copyright {
    color: white !important;
}

.cover {
    background-image: url("https://d117h1jjiq768j.cloudfront.net/images/default-source/products/labs/labs-hero-image.jpg?Status=Temp&sfvrsn=432a5148_2");
    background-position: 30% 15%;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: left;
    color: #67778e;
}

.emailCapture {
    border: none;
}

.emailSubmit {
    height: 42px;
    vertical-align: 10%;
    margin-left: 10px;
    padding: 0px 30px 50px 30px;
}

.faq {
    text-align: center;
    margin-bottom: 100px;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 150px;
}

.featureBox {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featureContainer {
    padding: 0px 100px 50px 100px;
}

.featureDescription {
    padding-top: 10%;
    width: 100%;
    text-align: center;
    color: #67778e;
}

.featureDetailsLeft {
    width: 50%;
    text-align: center;
    color: #67778e;
}

.featureDetailsRight {
    width: 50%;
    text-align: center;
    color: #67778e;
}

.featureScreen {
    width: 100%;
    margin: 0px;
}

.footer {
    background-color: #2F3C5F;
    color: white;
}

.footerLinks {
    text-align: center;
}

.footerLink {
    margin-right: 10px;
    display: inline;
    color: white;
}

.freeTrial {
    margin: 0 auto;
    text-align: center;
}

.header {
    font-size: 250%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: white;
}

.heading {
    margin: 0px auto;
    padding: 0% 10%;
    font-weight: bold;
    color: black;
    text-align: center;
}

.headline {
    margin: 0px auto;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.introButton {
    margin: 10px;
}

.introButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin: 0 auto;
}

.introduction {
    text-align: center;
}

.leadership {
    margin: 100px 0px 100px 0px;
    width: 100%;
}

.leadershipBox {
    background-color: white;
}

.link {
    color: #717171;
}

.link:hover {
    color: black;
}

.logoIcon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    top: 50%;
    left: 50%;
    transform: translate(20%, 17%);
}

.navbar {
    background-color: #2F3C5F;
}

.overviewScreen {
    border:2px solid black;
    border-radius: 30px;
    box-shadow: 0 5px 5px black;
}

.overviewTitle {
    color: black;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.pointer {
    cursor: pointer;
}

.price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 5px 5px black;
    border-radius: 5px;
}

.price li {
    padding: 20px;
    text-align: center;
}

.price .pricing {
    background-color: #505050;
    color: white;
    font-size: 25px;
}

.priceBox {
    text-align: center;
}

.pricingBox {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 50px;
}

.pricingHeadline {
    margin: 0px auto;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.pricingDescriptions {
    color: white;
    background-color: black;
    font-size: 16px;
}

.pricingScreenshot {
    width: 50vw;
    border: 3px solid #2F3C5F;
    border-radius: 5px;
    box-shadow: 0 5px 5px black;
    margin-bottom: 50px;
}

.pricingSubHeadline {
    margin: 10px 50px;
    font-size: 25px;
    color: #525252;
}

.pricingQuantities {
    color: white;
    background-color: #2F3C5F;
    font-family: 'MuseoModerno';
    font-size: 17px;
}

.pricingText {
    border-top: 1px solid #505050;
    color: black;
}

.primaryGoal {
    background-color: #026EFF;
    border-radius: 5px;
    box-shadow: 0 5px 5px black;
    line-height: 50px;
}

.primaryGoal:focus {
    background-color: #026EFF;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px black;
    line-height: 50px;
}

.primaryGoal:hover {
    color: #026EFF;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px black;
    line-height: 50px;
}

.question { 
    width: 50%;
    padding: 0% 3%;
}

.questions {
    margin-top: 100px;
}

.questionRow {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.questionDescription {
    text-align: left;
    font-size: 17px;
    color: #67778e;
}

.questionTitle {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.screenshot {
    width: 270px;
    height: 600px;
    margin-top: 50px;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0 5px 5px black;
}

.screenshotApp {
    border-radius: 15px;
    width: 600px;
    height: 450px;
    margin-top: 30px;
    border: 1px solid black;
    box-shadow: 0 5px 5px black !important;
}

#screenshotContent {
    border: none;
    box-shadow: none !important;
}

.secondaryGoal {
    background-color: transparent;
}

.secondaryGoal:focus {
    background-color: transparent;
    color: white;
}

.secondaryGoal:hover {
    color: #2F3C5F;
    background-color: white;
}

.selectPlan1 {
    margin-top: 30px;
}

.selectPlan2 {
    margin-top: 30px;
}

.selectPlan3 {
    margin-top: 30px;
}

.sidenavtitle {
    background-color: #2F3C5F;
    color: white;
}

.sidenavtitlelink {
    color: white !important;
}

.spacer {
    margin: 10px 0px 50px 0px;
    background-color: #2F3C5F;
}

.subheader {
    color: white;
    width: 50%;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.subheadline {
    margin: 10px 50px;
    font-size: 25px;
    color: #525252;
}

.subSpacer {
    margin: 0px auto;
    color: white;
    background-color: #2F3C5F;
    padding: 3px 0px 10px 0px;
}

.survaidLogo {
    margin-left: 1%;
    overflow: hidden;
}

.targetGoal {
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #2F3C5F;
    box-shadow: 0 5px 5px black !important;
}

.targetGoal:focus {
    color: white;
    background-color: #2F3C5F;
    box-shadow: 0 5px 5px black !important;
}

.targetGoal:hover {
    box-shadow: 0 5px 5px black !important;
    color: #2F3C5F;
    background-color: white;
    border: 1px solid #2F3C5F;
}

.title {
    color: black;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.titleIcon {
    font-size: 35px;
    margin-right: 15px;
}

.valueCaption {
    line-height: 1.6;
    margin: 30px auto;
    color: #262e45;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2px;
}

.valueIcon {
    font-size: 200px;
    color: #2F3C5F;
}

.valueProp {
    text-align: center;
    margin: 0px auto 100px auto;
}

.valueProps {
    width: 100%;
    margin: 0px auto;
}

.valueSubCaption {
    line-height: 1.6;
    font-size: 18px;
    color: rgb(64, 80, 124);
    flex-wrap: nowrap;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

@media screen and (max-width: 1300px) {

    .description {
        font-size: 20px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
        color: #67778e;
    }

    .feature {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .featureContainer {
        padding: 0px 100px 50px 100px;
    }

    .featureDescription {
        padding-top: 10%;
        width: 100%;
        text-align: center;
        color: #67778e;
    }

    .featureDetailsLeft {
        width: 70%;
        margin-top: 0px;
        padding-top: 10px;
        text-align: center;
        color: #67778e;
    }

    .featureDetailsRight {
        width: 70%;
        margin-top: 0px;
        padding-top: 10px;
        text-align: center;
        color: #67778e;
    }

    .featureScreen {
        width: 100%;
        margin: 0px;
    }

    .heading {
        margin: 0px auto;
        font-weight: bold;
        color: black;
        text-align: center;
    }

    .overviewTitle {
        color: black;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    .pricingBox {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .pricingScreenshot {
        width: 70vw;
        border: 3px solid #2F3C5F;
        border-radius: 5px;
        box-shadow: 0 5px 5px black;
        margin-bottom: 50px;
    }

    .reverse {
        flex-direction: column-reverse;
        background-color: white;
    }

    .screenshot {
        width: 270px;
        height: 600px;
        margin-top: 0px;
        border-radius: 30px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black;
    }

    .screenshotApp {
        border-radius: 15px;
        width: 600px;
        height: 450px;
        margin-top: 0px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black !important;
    }

    #screenshotContent {
        border: none;
        box-shadow: none !important;
    }

    .title {
        color: black;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .valueProp {
        text-align: center;
        margin: 0px auto 0px auto;
    }

    .valueProps {
        width: 100%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 1000px) {

    .description {
        font-size: 17px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
        color: #67778e;
    }

    .feature {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .featureContainer {
        padding: 0px 100px 50px 100px;
    }

    .featureDescription {
        padding-top: 15%;
        width: 100%;
        text-align: center;
        color: #67778e;
    }

    .featureDetailsLeft {
        color: black;
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }

    .featureDetailsRight {
        color: black;
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }

    .featureScreen {
        width: 100%;
        margin: 0px;
    }

    .heading {
        margin: 0px auto;
        font-weight: bold;
        color: black;
        text-align: center;
    }

    .headline {
        margin: 0px auto;
        font-weight: bold;
        font-size: 20px;
        color: black;
    }

    .overviewTitle {
        color: black;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    .price {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        box-shadow: 0 5px 5px black !important;
    }

    .pricingBox {
        width: 50%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .pricingHeadline {
        margin: 0px auto;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 30px;
        color: black;
    }

    .pricingScreenshot {
        width: 70vw;
        border: 3px solid #2F3C5F;
        border-radius: 5px;
        box-shadow: 0 5px 5px black;
        margin-bottom: 50px;
    }

    .pricingSubHeadline {
        margin: 10px 50px;
        font-size: 20px;
        color: #505050;
    }

    .reverse {
        flex-direction: column-reverse;
        background-color: white;
    }

    .screenshot {
        width: 270px;
        height: 600px;
        margin-top: 0px;
        border-radius: 30px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black;
    }

    .screenshotApp {
        border-radius: 15px;
        width: 600px;
        height: 450px;
        margin-top: 0px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black !important;
    }

    #screenshotContent {
        border: none;
        box-shadow: none !important;
    }

    .subheadline {
        margin: 10px 50px;
        font-size: 15px;
        color: #525252;
    }

    .title {
        color: black;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .valueProp {
        text-align: center;
        margin: 0px auto 100px auto;
    }

    .valueProps {
        width: 100%;
        margin: 0px auto;
    }

    .valueSubCaption {
        line-height: 1.6;
        font-size: 18px;
        color: #67778e;
        flex-wrap: nowrap;
        margin: 30px 20%;
    }
}

@media screen and (max-width: 768px) {

    p {
        text-overflow: ellipsis;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }

    .columns {
        width: 100%;
    }

    .description {
        font-size: 15px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
        color: #67778e;
    }

    .feature {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .featureBox {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 70px;
    }

    .featureContainer {
        padding: 0px 0px 50px 0px;
    }

    .featureDescription {
        width: 100%;
    }

    .featureDetailsLeft {
        color: black;
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }

    .featureDetailsRight {
        color: black;
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }

    .featureScreen {
        width: 100%;
        margin: 0px;
    }

    .heading {
        margin: 0px auto;
        font-weight: bold;
        font-size: 20px;
        color: black;
        text-align: center;
    }

    .headline {
        margin: 10px 50px;
        font-weight: bold;
        font-size: 20px;
        color: black;
        text-align: left;
    }

    .introduction {
        text-align: left;
    }

    .overflow {
        visibility: hidden;
    }

    .overviewTitle {
        color: black;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .pricingBox {
        width: 70%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .pricingHeadline {
        margin: 0px auto;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 30px;
        color: black;
    }

    .pricingSubHeadline {
        margin: 10px 50px;
        font-size: 20px;
        color: #525252;
    }

    .pricingScreenshot {
        width: 90vw;
        border: 3px solid #2F3C5F;
        border-radius: 5px;
        box-shadow: 0 5px 5px black;
        margin-bottom: 50px;
    }

    .question { 
        width: 100%;
        padding: 0% 3%;
    }

    .questions {
        margin-top: 50px;
    }

    .questionRow {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
        background-color: white;
    }

    .screenshot {
        width: 270px;
        height: 600px;
        margin-top: 0px;
        border-radius: 30px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black;
    }

    .screenshotApp {
        border-radius: 15px;
        width: 480px;
        height: 360px;
        margin-top: 0px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black !important;
    }

    #screenshotContent {
        border: none;
        box-shadow: none !important;
    }

    .subheader {
        color: white;
        width: 90%;
        line-height: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    .subheadline {
        margin: 10px 50px;
        font-size: 15px;
        color: #525252;
        text-align: left;
    }

    .title {
        color: black;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .valueProp {
        text-align: center;
        margin: 0px auto 100px auto;
    }

    .valueProps {
        width: 100%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 480px) {

    .description {
        font-size: 15px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
        color: #67778e;
    }

    .featureContainer {
        padding: 0px 0px 50px 0px;
    }

    .featureScreen {
        width: 100%;
        margin: 0px;
    }

    .overviewTitle {
        color: black;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .pricingBox {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .pricingHeadline {
        margin: 0px auto;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 25px;
        color: black;
    }

    .pricingSubHeadline {
        margin: 10px 50px;
        font-size: 15px;
        color: #525252;
    }

    .reverse {
        flex-direction: column-reverse;
        background-color: white;
    }

    .screenshot {
        width: 270px;
        height: 600px;
        margin-top: 0px;
        border-radius: 30px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black;
    }

    .screenshotApp {
        border-radius: 15px;
        width: 320px;
        height: 240px;
        margin-top: 0px;
        border: 1px solid black;
        box-shadow: 0 5px 5px black !important;
    }

    #screenshotContent {
        border: none;
        box-shadow: none !important;
    }

    .title {
        color: black;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .valueProp {
        text-align: center;
        margin: 0px auto 100px auto;
    }

    .valueProps {
        width: 100%;
        margin: 0px auto;
    }
}
