body {
    caret-color: black;
    font-family: 'Roboto', sans-serif;
}

.outer-flex {
    display: flex;
    justify-content: space-evenly;
}

.pointer {
    cursor: pointer;
}

table {
    color: white;
}

.spec-item {
    color: black;
    margin-left: 30px;
}

.spec-item-alt {
    color: white;
    margin-left: 30px;
}

ul {
    list-style-type: circle;
}

p {
    text-overflow: ellipsis;
}

input {
    text-align: center;
}

button {
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    border: 1px solid #026EFF;
    color: #026EFF;
    border-radius: 5px;
}

.underline:hover {
    text-decoration: underline;
    text-decoration-color: #2F3C5F;
    text-decoration-style: solid;
}

* {
    box-sizing: border-box;
}

.left-side-title {
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

.right-side-title {
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

.functionality-box {
    min-height: 27vh;
    color: black;
    width: 50%;
}

.screenshot {
    width: 50%;
}

.pricing {
    padding: 10px 0px 0px 0px;
    background-color: #2F3C5F;
}

.intro-box {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.functionality {
    padding: 15px 100px 70px 100px;
}

.specs-table {
    background-color: #2F3C5F;
    margin-bottom: 30px;
}

.col-title {
    font-weight: bold;
}

.package {
    padding-left: 30px;
    padding-right: 30px;
}

.hide {
    display: none;
}

.overflow {
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.navy {
    background-color: #2F3C5F;
}

.blue {
    background-color: #026EFF;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.brand-logo {
    margin-left: 1%;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
    color: black;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.navbar {
    background-color: #2F3C5F;
}

#map {
    height: 300px;
    width: 50%;
    border: 1px solid black;
}

.targetGoal {
    background-color: #2F3C5F;
    box-shadow: 0 3px 5px black !important;
}

.primaryGoal {
    background-color: #026EFF;
}

.secondaryGoal {
    background-color: transparent;
}

.tertiaryGoal {
    background-color: #026EFF;
}

.delete {
    background-color: red;
}

.targetGoal:hover {
    box-shadow: 0 3px 5px black !important;
    color: #2F3C5F;
    background-color: white;
    border: 1px solid #2F3C5F;
}

.primaryGoal:hover {
    color: #026EFF;
    background-color: white;
}

.secondaryGoal:hover {
    color: #2F3C5F;
    background-color: white;
}

.tertiaryGoal:hover {
    color: #026EFF;
    background-color: white;
}

.delete:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
}

.primaryGoal:focus {
    background-color: #026EFF;
    color: white;
}

.secondaryGoal:focus {
    background-color: transparent;
    color: white;
}

.tertiaryGoal:focus {
    background-color: #026EFF;
    color: white;
}

.delete:focus {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.bg {
    background-image: url("https://d117h1jjiq768j.cloudfront.net/images/default-source/products/labs/labs-hero-image.jpg?Status=Temp&sfvrsn=432a5148_2");
    height: 100%;
    background-position: 30% 15%;
    background-repeat: no-repeat;
    background-size: cover;
}

.inputPortal {
    color: black;
}

.headline {
    max-width: 960px;
    font-size: 36px;
    font-weight: 700;
}

.promoIcon {
    font-size: 200px;
    color: #2F3C5F;
}

.promoCaption {
    line-height: 1.6;
    text-align: center;
    margin: 30px auto;
    color: #262e45;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2px;
}

.promoSubCaption {
    line-height: 1.6;
    font-size: 18px;
    color: rgb(64, 80, 124);
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

@media only screen and (max-width: 300px) {
    .columns {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .overflow {
        visibility: hidden;
    }
}

.footer-link-list {
    text-align: center;
}

.footer-links {
    margin-right: 10px;
    display: inline;
}

.hov:hover {
    border-radius: 15px;
    background-color: #eee;
    box-shadow: 0 3px 3px black !important;
}

.emailCapture {
    border: none;
}

.emailSubmit {
    height: 42px;
    vertical-align: 10%;
    margin-left: 10px;
}

.sidenavtitle {
    padding-left: 30px;
}

.module {
    border: 1px solid black;
    width: 100%;
    background-color: transparent;
    margin-top: 50px;
    border-radius: 10px;
}

.action-btn {
    margin-top: 10px;
    margin-right: 10px;
}