@media only screen and (max-width: 300px) {
    .columns {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .overflow {
        visibility: hidden;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    caret-color: black;
    font-family: 'Roboto', sans-serif;
}

p {
    text-overflow: ellipsis;
    padding: 0% 10% 0% 10%;
    font-size: 20px;
    text-align: left;
}

input {
    text-align: center;
}

.navbar {
    background-color: #2F3C5F;
}

.cover {
    background-image: url("https://d117h1jjiq768j.cloudfront.net/images/default-source/products/labs/labs-hero-image.jpg?Status=Temp&sfvrsn=432a5148_2");
    height: 100%;
    background-position: 30% 15%;
    background-repeat: no-repeat;
    background-size: cover;
}

.survaidLogo {
    margin-left: 1%;
    overflow: hidden;
}

.category {
    background-color: #2F3C5F;
    margin-bottom: 30px;
    padding: 5px 100px 10px 100px;
}

.categoryTitle {
    padding: 0px 0px 0px 30px;
    color: white;
}

.header {
    margin-left:13vw;
    margin-right: 13vw;
    font-weight: bold;
    color: white;
}

.headline {
    max-width: 960px;
    margin-top: 70px;
    font-weight: bold;
    color: black;
}

.subheadline {
    color: #525252;
}

.subheader {
    line-height: 2em;
    margin-left:45px;
    margin-right: 45px;
}

.featureBox {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.featureScreen {
    width: 50%;
}

.featureDescription {
    width: 50%;
    text-align: center;
}

.title {
    color: black;
    text-align: center;
}

.titleIcon {
    font-size: 35px;
    margin-right: 15px;
}

.description {
    text-align: center;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.spacer {
    margin: 10px 0px 10px 0px;
    background-color: #2F3C5F;
}

.subSpacer {
    color: white;
    background-color: #2F3C5F;
    padding: 3px 0px 10px 0px;
}

.valueProps {
    margin-bottom: 30px;
}

.valueIcon {
    font-size: 200px;
    color: #2F3C5F;
}

.valueCaption {
    line-height: 1.6;
    text-align: center;
    margin: 30px auto;
    color: #262e45;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2px;
}

.valueSubCaption {
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
    color: rgb(64, 80, 124);
}

.leadership {
    margin: 100px 0px 100px 0px;
    width: 100%;
}

.leadershipBox {
    background-color: white;
}

.targetGoal {
    background-color: #2F3C5F;
    box-shadow: 0 3px 5px black !important;
}

.primaryGoal {
    background-color: #026EFF;
    border-radius: 5px;
    box-shadow: 0 3px 5px black;
    line-height: 50px;
}

.secondaryGoal {
    background-color: transparent;
}

.targetGoal:hover {
    box-shadow: 0 3px 5px black !important;
    color: #2F3C5F;
    background-color: white;
    border: 1px solid #2F3C5F;
}

.primaryGoal:hover {
    color: #026EFF;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px black;
    line-height: 50px;
}

.secondaryGoal:hover {
    color: #2F3C5F;
    background-color: white;
}

.targetGoal:focus {
    color: white;
    background-color: #2F3C5F;
    box-shadow: 0 3px 5px black !important;
}

.primaryGoal:focus {
    background-color: #026EFF;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px black;
    line-height: 50px;
}

.secondaryGoal:focus {
    background-color: transparent;
    color: white;
}


.sidenavtitle {
    background-color: #2F3C5F;
    color: white;
    padding-left: 30px;
}

.featureContainer {
    padding: 15px 100px 70px 100px;
}

.feature {
    display: flex;
    justify-content: space-evenly;
}

.featureDetailsLeft {
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    text-align: center;
}

.featureDetailsRight {
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    text-align: center;
}

.screenshot {
    width: 23%;
    height: 23%;
    margin-top: 30px;
    border-radius: 35px;
    box-shadow: 0 5px 5px black;  
}

.screenshotApp {
    border-radius: 15px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 3px 5px black !important;
}

#screenshotContent {
    border: none;
    box-shadow: none !important;
}

.screenshotWrapper {
    padding: 30px;
    width: 50%;
}

.footer {
    background-color: #2F3C5F;
    color: white;
}

.footerLinks {
    text-align: center;
}

.footerLink {
    margin-right: 10px;
    display: inline;
    color: white;
}

.copyright {
    color: white !important;
}

.pricingBox {
    margin-bottom: 50px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .pricing {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.pricingDescriptions {
    color: white;
    background-color: #2F3C5F;
}

.pricingText {
    color: black;
}

.link {
    color: #717171;
}

.link:hover {
    color: black;
}

.pointer {
    cursor: pointer;
}

.emailCapture {
    border: none;
}

.emailSubmit {
    height: 42px;
    vertical-align: 10%;
    margin-left: 10px;
    padding: 0px 30px 50px 30px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
