<!DOCTYPE html>
<html>

<head>
    <title>Survaid</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body class="white">
    <div>
        <div class="row">
            <nav>
                <div class="nav-wrapper navbar z-depth-2">
                    <a href="/" class="brand-logo overflow"><i class="large material-icons" width="30px">assignment</i>Survaid</a>
                    <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/demos.html" class="waves-effect waves-light btn secondaryGoal z-depth-0 demos">Schedule A Demo</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li class="navy white-text sidenavtitle">Survaid</li>
                <li><a href="/demos.html">Schedule A Demo</a></li>
            </ul>
            <br>
            <div class="specs-table" style="padding: 50px 100px 100px 100px;">
                <h3 style="padding: 0px 0px 30px 30px; color: white;"><i class="material-icons" style="font-size: 35px; margin-right: 15px;">settings</i>Functionality</h3>
                <div class="row">
                    <table style="border: 1px solid white; box-shadow: 0 5px 10px black;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 20%; padding-left: 30px; font-size: 20px; border: 1px solid white;">Survey Question Types
                                </th>
                                <th scope="col" style="width: 25%; padding-left: 30px; font-size: 20px; border: 1px solid white;">
                                    Notification Scheduling</th>
                                <th scope="col" style="width: 25%; padding-left: 30px; font-size: 20px; border: 1px solid white;">Compliance Monitoring
                                </th>
                                <th scope="col" style="width: 25%; padding-left: 30px; font-size: 20px; border: 1px solid white;">Mobile Device Integration </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border: 1px solid white;">
                                    <ul class="browser-default">
                                        <li>Yes/No</li>
                                        <li>Multiple Choice</li>
                                        <li>Scale</li>
                                        <li>Date & Time</li>
                                        <li>Time Interval</li>
                                        <li>Numeric</li>
                                        <li>Branch Based</li>
                                    </ul>
                                </td>
                                <td style="border: 1px solid white;">
                                    <ul class="browser-default">
                                        <li>Random Notifications: Notifications scheduled within a configured time interval</li>
                                        <li>Scheduled Notifications: Notifications occurring at a constant time each day</li>
                                        <li>Reminder Notifications: Activated when a user doesn't provide a response to a scheduled or random notification</li>
                                        <li>Follow-Ups: Schedule or un-schedule additional surveys based on user responses</li>
                                        <li>Offline Notification Scheduling</li>
                                    </ul>
                                </td>
                                <td style="border: 1px solid white;">
                                    <ul class="browser-default">
                                        <li>Track whether users provide responses in a timely manner by enabling custom compliance windows</li>
                                        <li>Suspend participant configurable options to temporarily disable notifications</li>
                                        <li>Only allow users to take surveys in a specific time interval</li>
                                        <li>Only allow users to provide a fixed number of responses each day</li>
                                        <li>Hide surveys outside of notification windows</li>
                                    </ul>
                                </td>
                                <td style="border: 1px solid white;">
                                    <ul class="browser-default">
                                        <li>Phone GPS sensor</li>
                                        <li>Phone Accelerometer sensor</li>
                                        <li>BACTrack Alcohol Sensor</li>
                                        <li>ResearchKit Gait and Balance Active Task</li>
                                        <li>ResearchKit Paced Serial Addition Test (PSAT) Active Task</li>
                                        <li>Integration with other ResearchKit Active Tasks</li>
                                        <li>Integration with other external devices</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center><button class="waves-effect waves-light btn-large targetGoal" style="margin-top: 5vh;">Schedule A Demo</button></center>
            </div>
            <br>
            <center>
                <div class="inputPortal hide">
                    <br>
                    <br>
                    <br>
                    <h6>User:
                        <%= fullnameVar %>
                    </h6>
                    <% if(fullnameVar.toLowerCase() === "landingpage") { %>
                        <p>Authenticated:
                            <%=fullnameVar%>
                        </p>
                        <% } else { %>
                            <p>Error Authenticating:
                                <%=fullnameVar%>
                            </p>
                            <% } %>
                                <br>
                                <h6>Product List:
                                    <%= productsVar %>
                                </h6>
                                <br>
                                <form action="/addproduct" method="POST">
                                    <input type="text" name="newproduct" placeholder="Enter Product Name">
                                    <br>
                                    <br>
                                    <br>
                                    <button class="btn" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                                </form>
                </div>
            </center>
            <footer class="page-footer white-text navy" style="margin-bottom: 0px;">
                <div class="row">
                    <div class="footer-link-list">
                        <a class="white-text footer-links" href="#">Schedule A Demo</a>
                        <a class="white-text text-lighten-3 footer-links" href="#">About Us</a>
                        <a class="white-text text-lighten-3 footer-links" href="#">Leadership</a>
                        <a class="white-text text-lighten-3 footer-links" href="#">Blog</a>
                        <a class="white-text text-lighten-3 footer-links" href="#">Contact</a>
                    </div>
                </div>
                <center>
                    <div class="footer-copyright">
                        <div class="container white-text">
                            © 2018 Survaid LLC
                        </div>
                    </div>
                </center>
            </footer>
            <script type="text/javascript" src="/materialize.min.js"></script>
            <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
            <script>
                var config = {
                    apiKey: "AIzaSyDOICvv4I17YxipbvrSeDs7HsmoloJVjVI",
                    authDomain: "landingpage-3a359.firebaseapp.com",
                    databaseURL: "https://landingpage-3a359.firebaseio.com",
                    projectId: "landingpage-3a359",
                    storageBucket: "landingpage-3a359.appspot.com",
                    messagingSenderId: "704168931957"
                };
                firebase.initializeApp(config);

                var database = firebase.database();

                function writeUserData(userId, name, email) {
                    firebase.database().ref('users/' + userId).set({
                        username: name,
                        email: email
                    });
                };

                function emailCapture() {
                    var emailInput = document.getElementById("emailInput").value;
                    writeUserData("jimbucktoo", "jimbucktoo", emailInput);
                };

                $(document).ready(function() {
                    $('.sidenav').sidenav();
                });
            </script>
</body>

</html>